<% showoperators=Hash.new
 i=0
 %>
 <Style id="airtelicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("airtel.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="aircelicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("aircel.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="bsnlicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("bsnl.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="docomoicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("docomo.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="ideaicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("idea.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="loopicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("loop.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="mtnlicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("mtnl.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="relianceicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("reliance.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="mtsicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("mts.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="videoconicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("videocon.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="virginicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href><%= path_to_image("virgin.png") %></href>
          </Icon>
</IconStyle>
</Style>
 <Style id="vodafoneicon">
 <IconStyle>
          <scale>1.2</scale>
          <Icon>
            <href> <%= path_to_image("vodafone.png") %></href>
          </Icon>
</IconStyle>
</Style>
<% @query.each do |l| %>
 <Placemark>
      <name></name>
     
      
<description>

<![CDATA[
<%= image_tag( getOperatorLogo(l.provider_id) , :size=> "30x30") %>
<p style="display:inline; font:10px 'Times New Roman',Serif;">

<%=l.city %>
</p>
<% if l.has_3g then %>
<%= image_tag("3g.png" , :size=> "20x20") %>
<%end%>
<% if l.has_4g then %>
<%= image_tag("4g.png" , :size=> "20x20")  %>
<%end%>

]]>
</description>
  <styleUrl>#<%= getstyle(l.provider_id) %>icon</styleUrl>
      <Point>
        <coordinates><%= l.lon %>,<%= l.lat %></coordinates>
      </Point>
    </Placemark>
<% if(showoperators[l.provider_id]==nil)
   	showoperators[l.provider_id]=getstyle(l.provider_id)
   end %>
   
<% end %>
 <ExtendedData>
      	<Data name="operators_name">
      		<value>
      <%
      
      	showoperators.each do |o|
	%>	      	
      	<% 
      	 @av_op=@av_op+o[0].to_s+" "
      	 %>
      	<% end %>
      	<%= @av_op %>
      		</value>
      	</Data>
      </ExtendedData>

