
	<div id="map_canvas">

	</div>
	<script type="text/javascript">
		var alat=new Array();
		var blon=new Array();
		alat.push(<%= @maxlat %>);
		alat.push(<%= @minlat %>);
		blon.push(<%= @maxlong %>);
		blon.push(<%= @minlong %>);
		var boundsfixed=true;
		var rid=<%= @regionid %>
	</script>

